# Игнорируем директорию с сохраненными зависимостями
node_modules/
# Игнорируем файлы конфигурации вашей IDE, например, для PyCharm и VSCode
.idea/
.vscode/
# Исключаем файл БД, используемый для разработки
testappdb.sqlite
# Исключаем папку с логами и log-файлы
logs
*.log