{% extends 'base.html' %}

{% block content %}
    <main class="main">

        <section class="choose">
            <div class="container">
                <h2 class="section_title">Choose your car</h2>
                <div class="tabs">
                    <div class="tabs_btn">
                        <button class="tabs_btn-item">Car and Minivan</button>
                        <button class="tabs_btn-item">Trucks</button>
                        <button class="tabs_btn-item">Crossovers & SUVs</button>
                        <button class="tabs_btn-item">Electrified</button>
                    </div>
                    <div class="tabs_content">
                        <div class="tabs_content-item">
                            <div class="card">
                                <img class="card_img" src="static/images/priusPrime.jpg"> 
                                <div class="card_content">
                                    <h4 class="card_title">Prius Prime 2023</h4>
                                    <p class="card_text">stating from $ 39900</p>
                                    <p class="card_price">$ 450/mo</p>
                                </div>
                                <a href="" class="card_link">see details</a>
                            </div>
                            <div class="card">
                                <img class="card_img" src="static/images/toyotaCrown.jpg"> 
                                <div class="card_content">
                                    <h4 class="card_title">Toyota Crown 2023</h4>
                                    <p class="card_text">stating from $ 39900</p>
                                    <p class="card_price">$ 650/mo</p>
                                </div>
                                <a href="" class="card_link">see details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="showmore-link">SHOW MORE</a>
            </div>
        </section>

        <section class="blog">
            <div class="container">
                <div class="blog_items">
                    <div class="blog_item">
                        <img src="static/images/blog_1.jpg" alt="" class="blog_item-img">
                        <h4 class="blog_item-title">An easier way to buy your next Toyota</h4>
                        <a href="" class="blog_item-link">more</a>
                    </div>
                    <div class="blog_item">
                        <img src="static/images/blog_2.jpg" alt="" class="blog_item-img">
                        <h4 class="blog_item-title">A Guide to Road-Tripping With Pets</h4>
                        <a href="" class="blog_item-link">more</a>
                    </div>
                </div>
                <a href="" class="showmore-link">SHOW MORE</a>
            </div>
        </section>
    </main>

{% endblock %}      